html {
    background: #749bb5;
}

main {
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
    border-top: 10px solid #8a9fd1;
    background: #dae4e9;
    width: 1000px;
}
h1 {
  font-size: 3em;
}

p {
  line-height: 1.4em;
}

#projects {
    border-top: 1px dotted #ccc;
    display: flex;
    gap: 30px;
}

.game-project {
    border-bottom: 1px dotted #ccc;
}

header {
    top: 0;
    background: #dae4e9;
}

.resume {
    border-top: 1px dotted #ccc;
    display: flex;
}

.img {
    display:flex;
    gap: 120px;
}